.footer {
  min-height: 200px;
  background: rgb(0, 0, 0);
  overflow: hidden;

  .footer--block {
    a {
      color: rgb(255, 0, 234);

      span {
        font-weight: bold;
      }
    }

    .by {
      a {
        color: #ffffff;
      }
    }
  }
}
