.bg-header {
  background: #000
}

.header {
  min-height: 200px;
  background: url('../assets/img/pattern2.svg'), rgba($colortheme, .9);
  background-size: 280px;
  width: 100%;

  .header--block {
    color: rgb(255, 255, 255);

    .header--block--text {
    }

    .header--block--input {
      display: flex;
      align-items: center;
      background: rgb(0, 0, 0);
      margin-top: 20px;
      border-radius: 4px;
      overflow: hidden;
      width: 100%;
      opacity: 0.5;
      transition: 0.3s;

      &:focus-within {
        opacity: 1;
        box-shadow: 0 0 20px 1px rgba(255, 248, 248, 0.1);

        .header--block--input--icon {
          opacity: 1;

        }
      }

      .header--block--input--icon {
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 10px;
        box-sizing: border-box;
        opacity: 0.5;
        span {
          color: rgb(241, 241, 241);
        }
      }

      .input-search {
        color: rgb(241, 241, 241);
        width: 100%;
        height: 60px;
        border: none;
        box-sizing: border-box;
        outline: none;
        font-size: 16px;
        background: transparent;
      }
    }
  }
}

.position-search {
  position: relative;
}

.header--block--result {
  width: 100%;
  background-color: rgb(19, 19, 19);
  z-index: 9;
  position: absolute;
  top: 78px;
  left: 0;
    ul {
      list-style: none;
      li {
        padding: 10px;
        box-sizing: border-box;
          a {
              color: rgb(255, 255, 255);
            &:hover {
              color: $colortheme;
            }
          }
      }
    }
}
